@import './scss/mix';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    overflow-x: hidden;
}

