.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fs-sm{
    font-size: 16px;
}


.fs-md{
    font-size: 25px;
}


.fs-lg{
    font-size: 32px;
}


.fs-xl{
    font-size: 40px;
}

.fw-300{
    font-weight: 300;
}

.bold{
    font-weight: 700;
}

.fw-500{
    font-weight: 500;
}

